.row
	.span10.offset1.lead Edit project

=form_for @project do |f|
	.row
		.span8.offset1.well
			%h6 General Info
			%br/
			%table
				%tr
					%td
						%h4 Name*
					%td.form-column
						=f.text_field :name, class:"input-xxlarge", style:'height:30px;font-size:16pt'
				%tr
					%td
						%h4 Company*
					%td.form-column
						=f.text_field :company, class:"input-xlarge", style:'height:30px;font-size:16pt'
				%tr
					%td
						%h4 Contact name
					%td.form-column
						=f.text_field :contact, class:"input-xlarge", style:'height:30px;font-size:16pt'
				%tr
					%td
						%h4 Contact info
					%td.form-column
						=f.text_area :contact_info, class:"input-xlarge", rows: 3, style:'font-size:14pt'
				%tr
					%td
						%h4 Lab books
					%td.form-column
						=f.text_area :lab_books, class:"input-xlarge", rows: 3, style:'font-size:14pt'
				%tr
					%td
						%h4 Description
					%td.form-column
						=f.text_area :description, class:"input-xlarge", rows: 3, style:'width: 500px;font-size:12pt'
		= f.fields_for(:constructs) { |construct_builder| render 'fields_construct', f: construct_builder }
	.row
		.span2.offset11
			=f.submit 'Add this project', class: "btn-primary btn-gigantic"