.row
	.span10.offset1.lead Create a project

=form_for @project do |f|
	.row
		.span8.offset1.well
			%h6 General Info
			%br/
			%table
				%tr
					%td
						%h4 Name*
					%td.form-column
						=f.text_field :name, class:"input-xxlarge", style:'height:30px;font-size:16pt'
				%tr
					%td
						%h4 Company*
					%td.form-column
						=f.text_field :company, class:"input-xlarge", style:'height:30px;font-size:16pt'
				%tr
					%td
						%h4 Contact name
					%td.form-column
						=f.text_field :contact, class:"input-xlarge", style:'height:30px;font-size:16pt'
				%tr
					%td
						%h4 Contact info
					%td.form-column
						=f.text_area :contact_info, class:"input-xlarge", rows: 3, style:'font-size:14pt'
				%tr
					%td
						%h4 Lab books
					%td.form-column
						=f.text_area :lab_books, class:"input-xlarge", rows: 3, style:'font-size:14pt'
				%tr
					%td
						%h4 Description
					%td.form-column
						=f.text_area :description, rows: 3, style:'width: 500px;font-size:12pt'
		.pull-right.span1.offset1{ style: 'margin-top: 380px' }
			=f.submit 'Add this project', class: "btn-primary btn-gigantic"
		= f.fields_for(:constructs)  { |construct_builder| render 'fields_construct', f: construct_builder }
		.pull-right.span1.offset1{ style: 'margin-top: 400px' }
			=f.submit 'Add this project', class: "btn-primary btn-gigantic"
		= f.fields_for(:expressions) { |expression_builder| render 'fields_expression', f: expression_builder }
		.pull-right.span1.offset1{ style: 'margin-top: 800px' }
			=f.submit 'Add a project', class: "btn-primary btn-gigantic"
		= f.fields_for(:purifications) { |purification_builder| render 'fields_purification', f: purification_builder }
		.pull-right.span1.offset1{ style: 'margin-top: 950px' }
			=f.submit 'Add a project', class: "btn-primary btn-gigantic"
		= f.fields_for(:others) { |other_builder| render 'fields_others', f: other_builder }
		.pull-right.span1.offset1{ style: 'margin-top: 300px' }
			=f.submit 'Add a project', class: "btn-primary btn-gigantic"
